@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  color: hsla(0, 0%, 9%, 1);
  background-color: hsla(0, 0%, 100%, 1);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 20px;
}
